.champion {
  position: relative;
  max-height: 200px;
  overflow: hidden;

  .champion-name {
    z-index: 1;
  }
  &:first-child {
    h2 {
      margin-top: 0;
    }
  }

  h2 {
    color: white;
    text-transform: uppercase;
  }

  .splash { 
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;

    img {
      margin-top: -50px;
    }
  }
}

.champion-header {
  max-height: 350px;
  overflow: hidden;
}

.highlight-reel {
  overflow-x: hidden;
  white-space: nowrap;
}

.video {
  position: relative;
  display: inline-block;
}