<% @reel[0..2].each do |r| %>
  <div class="large-4 columns">
    <div class="player" id="<%= r[1] %>">
    </div>
  </div>
<% end %>

<% @abilities["spells"].each do |s| %>
  <div class="large-6 large-centered columns">
    <h3><%= s["name"] %></h3>
    <p><%= s["description"] %></p>
  </div>
<% end %>